# Aura Render environment template
SPRING_PROFILES_ACTIVE=render

# Gemini API
AURA_AI_GEMINI_API_KEY=AIzaSyAmoMf0MIbzoUnYUhZBQphkS2mFRwljBY0
AURA_AI_GEMINI_MODEL_NAME=gemini-2.5-flash

# Neon PostgreSQL
AURA_DB_URL=jdbc:postgresql://ep-silent-heart-an62qb8l-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
AURA_DB_USERNAME=neondb_owner
AURA_DB_PASSWORD=npg_cyfIGW9XPjm8

#user: neondb_owner
#pass: npg_cyfIGW9XPjm8
#host: ep-silent-heart-an62qb8l-pooler.c-6.us-east-1.aws.neon.tech
#dbname: neondb